/*
----------------------------
------------FONT------------
----------------------------
*/
@font-face {
    font-family: "LanderGrandeRegular";
    src: url("/fonts/Lander-Grande-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "PikeBold";
    src: url("/fonts/Pike-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "SoDoSansRegular";
    src: url("/fonts/SoDo-Sans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "SoDoSansSemiBold";
    src: url("/fonts/SoDo-Sans-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "SoDoSansBold";
    src: url("/fonts/SoDo-SansBold.woff2") format("woff2");
}


/*
---------------------------------
-------------GENERAL-------------
---------------------------------
*/
body{
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    font-family: SoDoSansRegular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .02em;
    margin-right: -0.02rem;
}
.subheader, .formation__year{
    font-family: PikeBold, sans-serif;
}

.title{
    font-family: LanderGrandeRegular, serif;
}

.background__green, header{
    z-index: 0;
    background-color: #1e3932;
}

h3, .navigation__li{
    font-size: 38px;
    line-height: 46px;
    font-family: LanderGrandeRegular, Arial, serif;
    font-weight: 400;
}
img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: none;
    display: block;
    left: 0;
    z-index: 9;
    transition: background-color .4s cubic-bezier(.64,.04,.35,1);
}

@media screen and (max-width: 1439px) {
    /*
    ----------------------------------
    ------------NAVIGATION------------
    ----------------------------------
    */
    .header__navigation{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 137.5rem;
    margin: 1.125rem auto;
    height: 3.125rem;
}

    .nav__search img{
        margin-left: 30px;
        max-width: 40%;
    }
    .nav__logo__a{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index:10;
    }
    .nav__logo__a img{
        max-width: 70%;
    }
    .banner__container{
        overflow: hidden;
        width: 100%;
        height: 100%;
        max-width: 2200px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        display: flex;
        flex-flow: row wrap;
    }
    .image__container{
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        text-align: center;
    }

    .header__navigation{
        display: flex;
        align-items: center;
        position: relative;
        max-width: 137.5rem;
        margin: 1.125rem auto;
        height: 3.125rem;
    }
    /*
    ----------------------------------
    ------------BURGER------------
    ----------------------------------
    */

    #toggle, .search__a, .logo__a{
        display: none;
    }

    /**
      Hamburger (top-bun & bottom-bun)
    **/
    .hamburger {
        position: absolute;
        top: 4em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }

    .hamburger div {
        position: relative;
        width: 1.25em;
        height: 2px;
        border-radius: 3px;
        background-color: white;
        margin-top: .35rem;
        transition: all 0.3s ease-in-out;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #f2f0eb;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }
    nav {
        text-align: left;
    }
    nav a {
        position: relative;
        text-decoration: none;
        color: #1e3932;
        font-size: 2em;
        display: inline-block;
        margin-top: 1.25em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }
    nav a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }
    nav a:hover {
        color: #006241;
    }


    #toggle:checked + .hamburger .bottom-bun {
        transform: rotate(45deg);
        background-color: #1e3932;
        margin-top: -1px;
    }
    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        background-color: #1e3932;
    }
    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }

    .navigation__li{
        font-size: 38px;
        line-height: 46px;
        font-weight: 400;
    }
    .nav__ul{
        padding-top: 2.5rem ;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        position: relative;
    }
    .nav__wrapper{
        margin-top: 12vh;
        height: 88vh;
        align-items: flex-start;
        justify-content: flex-start;
    }
    nav .contact__button{
        width: auto;
        height: auto;
        background-image: none;
        padding: 0.9375rem 1.25rem!important;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: .025em;
        margin-right: -0.025rem;
        text-align: left;
        background-color: #006241;
        font-family: SoDoSansRegular, sans-serif;
    }

    .nav__li:first-child{
        margin-top:0;
    }
    /*
    ---------------------------------
    -------------LOISIRS-------------
    ---------------------------------
    */
    .loisirs__li{
        display: none;
    }
}

.banner{
    padding-top:30px;
}
/*
---------------------------------
------------SUBHEADER------------
---------------------------------
*/
.background__image{
    background-image: url("./img/background.png");
    background-size: auto 100%;
    height: 35.25rem;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.subheader__section{
    max-width: 100%;
    display: block;
    position: relative;
    margin-top:86px;
    width: 100%;
    height: 100vh;
}

.subheader__title{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .25em;
    width: 100%;
}

.subheader__name{
    z-index: 2;
    text-align: center;
    margin: 0 1.875rem;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}
.subheader__min::before{
    content: url("./img/svg/time_white.svg");
    margin-right: 10px;
}
.subheader__min{
    position: absolute;
    bottom: 1.25rem;
    right: 1.875rem;
    display: inline-block;
    margin-left: auto;
    width: auto;
    background-position: 0 2px;
    height: 1.875rem;
    padding-left: 1.1875rem;
    background-size: 14px 14px;
}
.subheader__container{
    display: block;
    margin-bottom: 1.5rem;
}

main .banner__container .image__container{
    bottom: 15%;
    position: absolute;
    z-index: 2;
    transform: translateY(140px) scale(.8);
}
/*
---------------------------------
--------------ABOUT--------------
---------------------------------
*/

.background__neutral{
    background-color: #f2f0eb;
}

.about__section{
    display: block;
    max-width: 100%;
    padding: 5rem 1.875rem;
    text-align: center;
}


.about__content{
    color: #1e3932;
    font-size: 16px;
    line-height: 26px;
    font-family: SoDoSansRegular, sans-serif;
    font-weight: 200;
    letter-spacing: .02em;
}

.about__title{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .25em;
    width: 100%;
    margin-right: -37px;
    color: #006241;
}

/*
-----------------------------------
------------INGREDIENTS------------
-----------------------------------
*/

.ingredients__section{
    min-height: 100vh;
}

.ingredients__content{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem
}
.ingredients__image{
    width: 100%;
}
.ingredients__image img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;

}
.ingredients__title{
    text-align: center;
    letter-spacing: .1875rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.ingredients__list{
    margin: 0.9375rem 0.625rem 2rem 3.5rem;
    width: auto;
}

.bullets{
    display: block;
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    border: 0.125rem solid #00754a;
    border-radius: 50%;
    top: 0.5rem;
    left: -0.9375rem;
}
.ingredients__item{
    display: flex;
}

ul li .ingredients__quantity{
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: 3.75rem;
}

.ingredients__txt{
    display: inline;
}

/*
---------------------------------
---------------STEP--------------
---------------------------------
*/
.step__container{
    width: 100%;
    background: #f2f0eb;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.step{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

.img__container{
    height: 50vh;
    width: 100%;
    background-color:black;
    display: flex;
}
.img__container img{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    position: relative;
    object-fit: contain;
}

.step__txt{
    height: 50vh;
}

.step__step{
    padding-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    color: #006241;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .25em;
    width: 100%;
}
.step__title{
    font-size: 1.75rem;
    line-height: 2.125rem;
    margin-bottom: 0.9375rem;
    color: #1e3932;
}
.step__p{
    margin-bottom: 1.875rem;
    color: #090909;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: .02em;
    margin-right: -0.02rem;
}
.step__next{
    display: none;
}

.ingredients__list, .ingredients__title, .subheader__min, .subheader__name, .subheader__title, .contact__content, .footer__links li a{
    color:white;
}
a{
    text-decoration: none;
}
.active__language a{
    text-decoration: underline;
}
.footer__p, .footer__links.legal a{
    color: #9B9B9B;
}
ul{
    list-style-type: none;
}

/*
------------------------------------
---------------CONTACT--------------
------------------------------------
*/

.contact{
    background-image: url("./img/Banner_green.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100% 100vh;
    height: 100vh;
    position: relative;
}

.contact__div{
    text-align: center;
    padding-top: 6.25rem!important;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    max-width: 2800px;
    margin-left: auto;
    margin-right: auto;
}
.contact__subtitle{
    margin-bottom: 0.625rem;
    letter-spacing: .25em;
}
.contact__title{
    margin-bottom: 1.25rem;
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
}

 .contact__subtitle, .contact__title{
     margin-bottom: 30px;
     text-align: center;
     color: #fff;
 }

 .contact__text p{
     font-size: 16px;
     line-height: 26px;
     font-weight: 400;
     letter-spacing: .02em;
     margin-right: -0.02rem;
 }

 .contact__button{
     padding: 15px;
     margin: 0 150px;
 }

 button{
     padding: 0;
     appearance: none;
     border: 0;
     border-radius: 3px;
     background: transparent;
     line-height: 1;
     cursor: auto;
 }
 .contact__button{
     color: #fefefe;
     background-color: #1e3932;
     text-align: center;
     border-radius: 12.5rem;
     display: inline-block;
     margin: 1.25rem;
 }
 button .like{
     position: relative;
     display: flex;
     cursor: pointer;
     width: auto;
 }

 button span.like{
     color: #fefefe;
     background-color: #1e3932;
     text-align: center;
     border-radius: 12.5rem;
     display: inline-block;
     font-size: 16px;
     line-height: 20px;
     font-weight: 400;
     letter-spacing: .025em;
 }

 .sun-img{
     display: block;
     width: auto;
     height: 100%;
     position: relative;
     top: 40px;
     left: 0;
     margin: 0 auto;
     z-index: 5;
 }

 .cube-img{
     max-width: 100%;
     display: block;
     margin: auto;
     position: absolute;
     top: 80%;
     z-index: 5;
     width: 45%;
     left: 0;
     right: 0;
 }

 .glass-img{
     margin: auto;
     position: absolute;
     transform: translateY(-95%);
     width: 75%;
     z-index:6;
     left: 0;
     right: 0;
 }
/*
---------------------------------------
---------------EXPERIENCE--------------
---------------------------------------
*/
.experience__logo img{
    max-width: 100%;
}

.experience__subtitle{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    width: 100%;
    margin-top: 3.125rem;
    margin-bottom: 0.9375rem;
    color: #006241;
    letter-spacing: .1875rem;
}
.experience{
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    min-height: 100vh;
    max-width: 2800px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    background-color: white;
    z-index: 10;
}
.experience__content{
    height: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 6.25rem 0;
    justify-content: center;
}
.experience__title{
    margin-bottom: 1.25rem;
    color: #1e3932;
    font-size: 32px;
    line-height: 46px;
    font-weight: 400;
    text-align: center;
    word-break: break-word;
}
.experience__description p{
    color: #1e3932;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: .02em;
    margin-right: -0.02rem;
    text-align: center;
}
.button__expro{
    margin: 1.25rem auto 0;
    color: #006241;
    line-height: 1.1875rem;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .025em;
    display: inline-block;
    border-bottom: solid 2px #006241;
}

.experience__informations{
    padding: 0 22px;
    margin: 0 7px;
}
/*
--------------------------------------
---------------FORMATION--------------
--------------------------------------
*/
section.formation__section{
    position:relative;
    background-color: #f2f0eb;
    z-index: 10;
    max-width: 100%;
}
.formation{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 3.125rem 0;
}

.formation__section{
    background-color: #f2f0eb;
}
.formation__decouvrir, .button__expro, .experience__subtitle{
    color: #006241;
}
.formation__title{
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    padding-top: 6.25rem;
    text-align: center;
}
.formation__decouvrir{
    font-weight: 700;
    color: #006241;
    letter-spacing: .1875rem;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
}
.formation__title .h3{
    color: #1e3932;
    display: block;
    font-size: 38px;
    line-height: 46px;
    font-weight: 400;
}
.formation__card{
    top: 1.875rem;
    position: relative;
    width: 84%;
    height: auto;
    margin: auto;
    transition-timing-function: ease;
}
.formation__description{
    padding: 0 1.25rem 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}
.formation__link{
    text-align: center;
    margin-bottom: 2.5rem;
    color: #1e3932;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.formation__subtitle{
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    justify-content: flex-end;
    display: inline-block;
    margin-top: 0.6875rem;
    flex-direction: column;
}
.formation__year{
    margin-top: 0.6875rem;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: .05em;
    display: block;
}
/*
------------------------------------
---------------FOOTER--------------
------------------------------------
*/

.footer__p{
    margin-top: 1.625rem;
    text-align: center;
    color: #fff;
    opacity: .52;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0;
}
footer{
    background-color: #1e3932;
    padding-top: 7.1875rem;
    padding-bottom: 1.875rem;
    position: relative;
    max-width: 175rem;
    margin: 0 auto;
}
.footer{
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    max-width: 2800px;
    margin-left: auto;
    margin-right: auto;
}
.footer__links{
    width: 60%;
    vertical-align: top;
    display: inline-block;
}
.footer__links.legal{
    width: 38%;
    opacity: .52;
    display: inline-block
}
.footer__socials{
    text-align: center;
    opacity: .5;
    margin-top: 2.125rem;
}
.footer__socials li{
    display: inline-block;
    margin-right: 3.125rem;
}
.footer__logo{
    position: relative;
    z-index: 11;
}
.footer__logo__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-230%);
}


/*
------------------------------------
-------------SCREEN 768-------------
------------------------------------
*/
@media all and (min-width: 768px) {
    .about__section{
        padding: 80px 40px;
    }
    .div__about{
        margin: 0 60px;
    }
    .banner__container .image__container{
        padding: 100px 0 0;
    }
    .ingredients__content{
        padding: 100px 0;
    }

    .contact__button{
        padding: 15px;
        margin: 60px 150px 0;
    }

    .contact__content{
        margin: 0 7px;
    }
    .contact__subtitle, .contact__title{
        margin: 0 0 20px;
    }
    .sun-img{
        top: 40px;
        width: 63%;
        transform: translateY(-8%);
    }

    .cube-img{
        margin: auto;
        position: absolute;
        top: 82%;
        width: 35%;
    }

    .glass-img{
        position: absolute;
        transform: translateY(-118%);
        width: 55%;
    }

    .experience{
        margin: 0;
        padding: 0 40px;
        min-height: 50vh;
    }
    .experience__content{
        display:flex;
    }

    div.experience__logo{
        display: inline-block;
    }
    .experience__logo img{
        max-width: 280px;
    }
    .experience__informations{
        padding: 0 0 0 32px;
    }
    .experience__subtitle, .experience__description p{
        margin: 0 0 15px 0;
    }
    .experience__subtitle, .experience__description p,.experience__title {
        text-align: left;
    }
    .experience__title{
        font-size: 38px;
    }

    .formation{
        padding: 5rem 0 7.8125rem;
        flex-direction:row;
    }

    .formation__section{
        min-width: 100vh;
        min-height: 100vh;
    }

    .formation__image{
        min-width: 100%;
    }
    .formation__description{
        /*margin-bottom: 0.9375rem;*/
        vertical-align: bottom;
    }

    .footer__links{
        display: block;
        min-width: 100%;
        text-align: center;
    }
    .footer__links li{
        margin-bottom: 0;
        margin-right: 2.125rem;
        display: inline;
    }

    .footer__footer{
        margin: 0 67px;
    }
    ul.legal:not(:last-child) {
        /*margin-right: 34px;*/
    }
    .legal{
        margin-top: 30px;
        font-size: 14px;
    }
}


/*
------------------------------------
-------------SCREEN 1024-------------
------------------------------------
*/
@media screen and (min-width: 1024px) {
    .ingredients__section{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .ingredients__wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .ingredients__img__wrap{
        position: relative;
        width: 150%;
        left: 35%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    .ingredients__content{
        margin-left: 120px;
        flex-grow: 1;
    }

    .ingredients__image img{
        width: 150%;
        height: 100%;

        position: relative;
    }
    .step__container{
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
    .step{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
    }
    .step__txt{
        padding: 0 150px;
    }

    .img__container{
        width: 100%;
        height: 100vh;
        justify-content: center;
    }
    .img__container img{
        object-fit: cover;

    }
    .contact{
        padding: 0 40px;
        max-width: 100%;
    }

    .contact__div{
        display: flex;
        flex-direction: row-reverse;
        padding: 100px 0 0 0;
        justify-content: space-around;
        transform: translateY(40%);
    }
    .contact__img{
        padding:0;
    }
    .glass-img{
        margin:0;
        width: 40%;
        top: 10%;
        transform: translateX(20%);
    }
    .cube-img{
        width: 20%;
        top:75%;
        transform: translateX(-110%);
    }

    .experience{
        padding: 0 40px;
    }
    .experience__content{
        display: flex;
        padding: 40px 0 100px;
        justify-content: center;
    }
    .experience__informations{
        margin: 40px 8px 0;
    }
    .experience__logo{
        padding-left: 32px;
    }

    .formation__section{
        justify-content: space-between;
    }

    .formation__section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formation{
        padding: 80px 40px 100px;
        align-self: end;
    }
    .footer__p{
        margin: 18px 18px 0;
    }
}

/*
------------------------------------
-------------SCREEN 1440-------------
------------------------------------
*/
@media screen and (min-width: 1440px) {
    .hamburger, #toggle,.nav__search, .nav__logo__a {
        display: none;
    }

    .grid-x {
        margin: 0 auto;
        white-space: nowrap;
    }

    .nav__wrapper {
        display: flex;
        height: 3.75rem;
        margin: 1.5625rem 0;
        max-width: 90rem;
        justify-content: center;

    }

    .nav__ul {
        display: flex;
        justify-content: space-between;
    }

    nav .nav__li a, .search__a {
        color: white;
        font-family: SoDoSansRegular, sans-serif;
        font-size: 18px;
    }

    nav .contact__button {
        margin: 10px 20px 20px 40px;
        color: white;
        font-family: SoDoSansRegular, sans-serif;
        font-size: 14px;
        border-style: solid;
        border-color: #fff;
        background: transparent;

    }

    .banner{
        padding-top:100px;
    }
    .svg {
        margin: 17px 20px 0 0;
    }

    .header__navigation {
        margin: 25px 0;
        padding: 0 60px;
    }

    .nav__li {
        padding: 6px 20px;
    }

    .logo__a {
        margin: 0 200px;
    }

    .loisirs__li {
        display: none;
    }

    .search__a::before {
        content: url("./img/svg/search_white.svg");
        margin-right: 20px;
    }

    .active__language::before {
        content: url("./img/svg/langue_blanc.svg");
        margin: 0 20px 0 0;

    }

    .background__image {
        top: 35.5%;
        background-size: 100%;
    }

    .banner__container {
        min-height: 100vh;
    }

    .about__title {
        font-size: 22px;
    }

    .about__content, .contact__text, .ingredients__list, .formation__subtitle, .footer__links {
        font-size: 18px;
    }

    .div__about {
        margin: 0 110px;
    }

    .ingredients__title, .step__step, .step__p, .experience__subtitle, .experience__description, .formation__decouvrir, .formation__year, .footer__links.legal, .subheader__title {
        font-size: 16px;
    }

    .subheader__name{
        padding-top: 20px;
        font-size: 82px;
    }
    .step__title, .experience__title, .h3 .title {
        font-size: 48px;
    }

    .contact__title {
        font-size: 62px;
        margin-bottom: 40px;
    }

    .contact__subtitle {
        margin-bottom: 30px;
    }

    .sun-img {
        width: 150%;
        top: -25%;
    }

    .cube-img {
        top: 50%;
        width: 25%;
        transform: translateX(-90%);
    }

    .glass-img {
        top: -5%;
    }

    .experience__content {
        justify-content: space-around;
    }

    .footer__p {
        /*margin: 18px 167px 0;*/
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        text-align: center;
    }

    section.footer {
        padding: 0 60px;
    }
}

[class*='reveal-']{
    opacity:0;
    transform:translateY(18px);
}
.reveal-visible{
    opacity:1;
    transform:translateY(0);
    transition: 1s;
}
.reveal-2{
    transition-delay: .3s ;
}
