/*
----------------------------
------------FONT------------
----------------------------
*/
@font-face {
    font-family: "LanderGrandeRegular";
    src: url("/fonts/Lander-Grande-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "PikeBold";
    src: url("/fonts/Pike-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "SoDoSansRegular";
    src: url("/fonts/SoDo-Sans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "SoDoSansSemiBold";
    src: url("/fonts/SoDo-Sans-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "SoDoSansBold";
    src: url("/fonts/SoDo-SansBold.woff2") format("woff2");
}

/*
---------------------------------
------------FIN FONTS------------
---------------------------------
*/


/*
---------------------------------
-------------GENERAL-------------
---------------------------------
*/
body{
    box-sizing: border-box;
    width: 100%;
    font-family: SoDoSansRegular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .02em;
    margin-right: -0.02rem;
}
.subheader, .year{
    font-family: PikeBold, sans-serif;
}
.title{
    font-family: LanderGrandeRegular, serif;
}

.background__green{
    z-index: 0;
    background-color: #1e3932;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: none;
    display: block;
    left: 0;
    z-index: 9;
    transition: background-color .3s cubic-bezier(.64,.04,.35,1);
}

.header__navigation{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 137.5rem;
    margin: 1.125rem auto;
    height: 3.125rem;
}

/*
---------------------------------
------------NAVIGATION------------
---------------------------------
*/

#toggle {
    display: none;
}

/**
  Hamburger
**/
.hamburger {
    position: absolute;
    top: 4em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
}

.hamburger div {
    position: relative;
    width: 1.25em;
    height: 2px;
    border-radius: 3px;
    background-color: white;
    margin-top: .35rem;
    transition: all 0.3s ease-in-out;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #CACDC8;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}
.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}
nav {
    text-align: left;
    margin-left: 25%;
}
nav a {
    position: relative;
    text-decoration: none;
    color: #1e3932;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}
nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}
nav a:hover {
    color: white;
}
nav a:hover:before {
    height: 100%;
}

#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}
#toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
}


/*
---------------------------------
------------SUBHEADER------------
---------------------------------
*/
.background__image{
    background-image: url("./img/background.png");
    background-size: auto 100%;
    height: 35.25rem;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.subheader__section{
    max-width: 100%;
    place-self: auto;
    grid-area: auto/ auto/ auto/ auto;
    z-index: auto;
    float: none;
    flex-shrink: 1;
    display: block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.subheader__title{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .25em;
    width: 100%;
}

.subheader__name{
    z-index: 2;
    text-align: center;
    margin: 0 1.875rem;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}

.subheader__min{
    position: absolute;
    bottom: 1.25rem;
    right: 1.875rem;
    display: inline-block;
    margin-left: auto;
    width: auto;
    background-position: 0 2px;
    height: 1.875rem;
    padding-left: 1.1875rem;
    background-size: 14px 14px;
}
.subheader__container{
    display: block;
    margin-bottom: 1.5rem;
}

/*
---------------------------------
--------------ABOUT--------------
---------------------------------
*/

.background__neutral{
    background-color: #f2f0eb;
}

.about__section{
    display: block;
    max-width: 100%;
    padding: 5rem 1.875rem;
    text-align: center;
}


.about__content{
    color: #1e3932;
    font-size: 16px;
    line-height: 26px;
    font-family: SoDoSansRegular, sans-serif;
    font-weight: 200;
    letter-spacing: .02em;
}

.about__title{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .25em;
    width: 100%;
    margin-right: -37px;
    color: #006241;
}

/*
-----------------------------------
------------INGREDIENTS------------
-----------------------------------
*/

.ingredients__content{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem
}
.ingredients__image{
    width: 100%;
}
.ingredients__image img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.ingredients__title{
    text-align: center;
    letter-spacing: .1875rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.ingredients__list{
    margin: 0.9375rem 0.625rem 2rem 3.5rem;
    width: auto;
}

.bullets{
    display: block;
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    border: 0.125rem solid #00754a;
    border-radius: 50%;
    top: 0.5rem;
    left: -0.9375rem;
}
.ingredients__item{
    display: flex;
}

ul li .ingredients__quantity{
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: 3.75rem;
}

.ingredients__txt{
    display: inline;
}

/*
---------------------------------
---------------STEP--------------
---------------------------------
*/
.step__container{
    width: 100%;
    background: #f2f0eb;
    text-align: center;
    margin: 0 auto;
    overflow:hidden;
}

.step{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

.img__container{
    height: 50vh;
    max-width: 100%;
}
.img__container img{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: relative;
}

.step__txt{
    height: 50vh;
    padding: 15px 0 0 0;
}

.step__step{
    padding-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    color: #006241;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .25em;
    width: 100%;
}
.step__title{
    font-size: 1.75rem;
    line-height: 2.125rem;
    margin-bottom: 0.9375rem;
    color: #1e3932;
}
.step__p{
    margin-bottom: 1.875rem;
    color: #090909;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: .02em;
    margin-right: -0.02rem;
}
.step__next{
    display: none;
}



.ingredients__list, .ingredients__title, .subheader__min, .subheader__name, .subheader__title, .contact__content, .footer__links li a{
    color:white;
}
a{
    text-decoration: none;
}
.active__language a{
    text-decoration: underline;
}
.footer__p, .footer__links.legal a{
    color: #9B9B9B;
}
ul{
    list-style-type: none;
}

/*
------------------------------------
---------------CONTACT--------------
------------------------------------
*/

.contact{
    background-image: url("./img/Banner_green.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100vh;
    height: 100vh;
    position: relative;
}

.contact__div{
    text-align: center;
    padding-top: 6.25rem!important;

    padding-right: 1.875rem;
    padding-left: 1.875rem;
    max-width: 2800px;
    margin-left: auto;
    margin-right: auto;
}
.contact__subtitle{
    margin-bottom: 0.625rem;
    letter-spacing: .25em;
}
.contact__title{
    margin-bottom: 1.25rem;
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
}

 .contact__subtitle, .contact__title{
     margin-bottom: 30px;
     text-align: center;
     color: #fff;
 }

 .contact__text p{
     font-size: 16px;
     line-height: 26px;
     font-weight: 400;
     letter-spacing: .02em;
     margin-right: -0.02rem;
 }

 .contact__button{
     padding: 15px;
     margin: 0 150px;
 }

 button{
     padding: 0;
     appearance: none;
     border: 0;
     border-radius: 3px;
     background: transparent;
     line-height: 1;
     cursor: auto;
 }
 .contact__button{
     color: #fefefe;
     background-color: #006241;
     text-align: center;
     border-radius: 12.5rem;
     display: inline-block;
     margin: 1.25rem;
 }
 button .like{
     position: relative;
     display: flex;
     cursor: pointer;
     width: auto;
 }

 button span.like{
     color: #fefefe;
     background-color: #006241;
     text-align: center;
     border-radius: 12.5rem;
     display: inline-block;

     font-size: 16px;
     line-height: 20px;
     font-weight: 400;
     letter-spacing: .025em;
 }

/*
------------------------------------
---------------FORMATION--------------
------------------------------------
*/

.formation__section{
    background-color: #9B9B9B;
}
.formation__decouvrir, .button__expro, .experience__subtitle{
    color: #006241;
}



/*
------------------------------------
---------------FOOTER--------------
------------------------------------
*/

.footer__p{
    margin-top: 1.625rem;
    text-align: center;
    color: #fff;
    opacity: .52;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0;
}
footer{
    background-color: #1e3932;
    padding-top: 7.1875rem;
    padding-bottom: 1.875rem;
    z-index: 1;
    position: relative;
    max-width: 175rem;
    margin: 0 auto;
}
.footer{
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    max-width: 2800px;
    margin-left: auto;
    margin-right: auto;
}
.footer__links{
    width: 60%;
    vertical-align: top;
    display: inline-block;
}
.footer__links.legal{
    width: 38%;
    opacity: .52;
    display: inline-block
}
.footer__socials{
    text-align: center;
    opacity: .5;
    margin-top: 2.125rem;
}
.footer__socials li{
    display: inline-block;
    margin-right: 3.125rem;
}